<h1>Congratulations, <%= @user.email %>!</h1>
<p>
  You have successfully completed the <%= @course.title %> course on our platform.
</p>
<p>
  We hope you enjoyed the course and learned a lot. Keep up the great work!
</p>
<p>
  Best regards,<br>
  The Online Learning Platform Team
</p>
