<div class="container">
  <div class="row justify-content-center">
    <% if @courses.any? %>
      <div class="row">
        <% @courses.each do |course| %>  
          <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 rounded-3 hover-scale">
              <div class="card-body text-center">
                <h5 class="card-title text-dark fw-bold mb-3">
                  <%= link_to course.title, course_path(course.id), class: 'text-decoration-none text-dark' %>
                </h5>
                <p class="card-text text-muted">
                  <%= course.description %>
                </p>
                <!-- Smaller View Button -->
                <%= link_to 'View', course_path(course.id), class: 'btn btn-primary btn-sm rounded-pill' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-warning text-center" role="alert">
        No courses found for your search.
      </div>
    <% end %>
  </div>

  <!-- Flash Notice -->
  <p style="color: green"><%= notice %></p>
</div>
