  .navbar-custom {
    background-color: white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
  }
  
  .navbar-custom .navbar-brand img {
    height: 40px;
  }
  
  .navbar-custom .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  .navbar-custom .navbar-nav .btn-primary {
    background-color: #0070f0;
    border-color: #f06c00;
    margin-right: 0.7rem;
  }
  
  .navbar-custom .nav-link {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.4;
    margin-right: 10px;
  }
  
  .navbar-custom .btn-sign-in {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
  
  .navbar-custom .btn-sign-up {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  
  .navbar-custom .nav-link:hover {
    opacity: 0.8;
  }
  
  .navbar-custom .btn-sign-in:hover {
    background-color: #f0f0f0;
    color: black;
    border-color: black;
  }
  
  .navbar-custom .btn-sign-up:hover {
    background-color: #333;
    color: white;
    border-color: black;
  }
  
  .navbar-custom .btn.btn-outline-success {
    margin-right: 10px;
  }
  